$left_padding: 20px;
$top_padding: 25px;

h1 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 40px;
    text-align: center;
}

.heading {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    margin-left: 30px;
}

.container-fluid{
    background:darkslategrey;
    justify-content: center;
    padding-top: $top_padding;
    padding-left: $left_padding;
    bottom:0;
    position: absolute;
}
  
.foot_icons {
   height:50px;
   width:50px;
}